/* 
 * stylesheets.css
 *
 * CSS para pagina inicial
 * @author: Edy Segura - infoedy@gmail.com
 *
 */

div#handle-test {
	width:100px;
	height:100px;
	background:red;
	float:left;
	margin-right:50px;
}

textarea#log {
	background:#fff;
}