/* CSS Document
Autor: Edy Segura - edy@segura.pro.br, edy@segura.pro.br
Descrição: Definições para divOverlay
*/

/* Imports */
@import url("overlay.css");
@import url("dialog-alert.css");

/* Redefinições para o IEca 6 e inferiores */
