/** 
 * 
 * Definicoes para div#dialog-overlay 
 * @author: Edy Segura - edy@liveware.com.br, edy@segura.eti.br
 * 
 */

div#dialog-overlay {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	z-index: 9998;
	
	/*
	 *
	 * Regra CSS para transparencia.
	 * Propriedade filter e' excluisa para IE.
	 *
	 */
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=20);
}

