/* 
 * simpletable.css
 * 
 * Definicoes CSS para o elemento table#simpletable
 * @author: Edy Segura - edy@segura.eti.br
 *
 */

table#simpletable 
tr.alternada {
	background:#B3E8FF;
	color:#000;
}

table#simpletable { 
	margin-left:10px;
	border:1px solid #000;
}

table#simpletable th, 
table#simpletable td {
	padding:2px;
	border-bottom:1px solid #333;
	border-right:1px solid #333;
}
