/* 
 * DivOverlay
 *  
 * @author: Edy Segura - edy@liveware.com.br, edy@segura.eti.br
 * @description: Definicoes para div#dialog-overlay
 */

div#dialog-overlay {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background:#000;
	z-index:1000;
	
	/*
	 * Propriedades CSS para transparência.
	 * Propriedade opacity é para todos navegadores menos o IE.
	 * Propriedade filter é excluisa para IE.
	 */
	opacity:0.2;
	filter:alpha(opacity=20);
}

