/**
 * Documento CSS
 */

@import url(tagbox.css);

div#wrapper-produto,
div#wrapper-ccusto {
	margin-bottom: 10px;
}

div.paginacao {
	margin-bottom: 5px;
}

th[class*=sortby] {
	cursor: pointer;
}

.number {
	text-align: right;
}