/**
 * Document CSS
 */
 
@import url(tagbox.css);
@import url(contextmenu.css);

#list-ramal .selected td {
	background: #000;
	color: #fff;
}

col.numero {
	width: 20px;
}

#list-ramal th.number {
	text-align: right;
	cursor: default;
}