/**
 * CSS Document
 */

#frm-superfilter fieldset {
	border: 1px solid #E7E7E7;
	margin: 4px;
	padding: 5px;
}

#superfilter-entities {
	background: #FFF9EF;
	border: 1px solid #FEE7C6;
	max-height: 110px;
	max-width: 220px;
	min-width: 160px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 !important;
	position: absolute;
	left: 100px;
	z-index:99999999;
}

#superfilter-entities ul {
	padding-left: 4px;
}

#superfilter-entities ul a {
	color: #1A5C8E;
	text-decoration: none;
}